.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 50% 10%;
    margin: 0 auto;
    height: 800px;
    width: 50%;
    color: black;
}

#box1 {
    grid-area: one
}

#box2 {
    grid-area: two
}

#box3 {
    grid-area: three
}

#box4 {
    grid-area: four
}

#box5 {
    grid-area: five
}

/* .body {
    margin: 0 auto;
    padding-top: 50px;
} */