.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    width: 100%;
    /* font-family: 'Gruppo'; */
    font-size: 15px;
    color: black;
    justify-content: space-evenly;
}

ul a {
    display: inline;
    padding-top: 15px;
    padding-right: 14px;
    font-size: 15px;
    color: gray;
    text-decoration: none;
    /* font-family: 'Orbitron'; */
    /* font-weight: bold; */
}

.nav-left {
    display: flex;
    float: left;
    align-items: flex-start;
    color: black;
    justify-content: space-evenly;

}

.nav-right {
    display: flex;
    float: right;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* justify-content: space-evenly; */

    
    padding-right: 100px;
} 

